.main-wrapper {
    height: 100vh;  
 }

.div-100{
    height: 100%;
}

.bg { 
    /* The image used */
    background-image: url("../img/1.png");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.intro-2 {
    background: url("../img/1.png")no-repeat center center;
    background-size: cover;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
    position: relative;
    opacity: 1;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .bgimg-1 {
    background-image: url("../img/1.png");
    min-height: 100vh;
  }
  
  .bgimg-2 {
    background-image: url("../img/2.jpg");
    min-height: 400px;
  }
  
  .bgimg-3 {
    background-image: url("../img/6.jpeg");
    min-height: 400px;
  }

  .bgimg-4 {
    background-image: url("../img/4.jpeg");
  }

  .caption-main {
    position: absolute;
    left: 0;
    top: 30%;
    width: 100%;
    text-align: center;
    color: #000;
  }

  .caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
  }
  .caption-main span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
  }

  
  .caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
  }
  
  h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
  }
  
  .box-text {
    color: #777;
    background-color:white;
    text-align:center;
    padding:50px 80px;
    text-align: justify;
  }

  @media only screen and (max-device-width: 1024px) {
      .bgimg-1, .bgimg-2, .bgimg-3 {
          background-attachment: scroll;
      }
  }
  
  h1 {
      letter-spacing: 8px;
  }
  h5 {
      letter-spacing: 3px;
  }

  .hr-light {
      border-top: 3px solid #fff;
      width: 300px;
  }

  .w100{
    width: 100px;
    border: 1px solid;
    border-radius: 0 !important;
    color: #fff !important;
    margin-left: 50px;
    margin-right: 50px;
  }

  .w100:hover{
    width: 100px;
    border-radius: 0 !important;
    color: #fff !important;
    background-color: Transparent;
    box-shadow: 0px 5px 2px #aaaaaa;
  }

  :target {
    display: block;
    position: relative;
    top: -50px; 
    visibility: hidden;
  }

  .active{
    box-shadow: 0px 5px 2px #54536F !important;
  }