.main-wrapper {
    height: 100vh;  
 }

.div-100{
    height: 100%;
}

.bg { 
    /* The image used */
    background-image: url("../img/keyboard-min.png");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
